/* simple example for demonstration */
* { color: #000000; background-color: #f5ecd8 }
QTableWidget { background-color: #ffffff; alternate-background-color: #f0f0f0; selection-background-color: #f5ecd8; selection-color: #000000 }
QDateTimeEdit { background-color: #ffffff }
QSpinBox { background-color: #ffffff }
QLineEdit { background-color: #ffffff }
